{% extends 'superadministracion/superadmin.html' %}
{% block titulo %}
Biblioteca.dev | Registro de Parroquia
{% endblock titulo %}

{% block body %}
<div class="admin col">
  <div class="card">
      <h2 class="card-title text-center">Registro de la Parroquia</h2>
      <form  method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
          {{form.nombre_parr.label_tag}}
          {{form.nombre_parr}}
          {{ form.nombre_parr.errors }}
          </div>
          <div class="form-group">
          {{form.direccion.label_tag}}
          {{form.direccion}}
          {{ form.direccion.errors }}
          </div>
          <div class="form-group">
          {{form.email.label_tag}}
          {{form.email}}
          {{ form.email.errors }}
          </div>
          <div class="form-group">
          {{form.telefono.label_tag}}
          {{form.telefono}}
          {{ form.telefono.errors }}
          </div>
          {# DESPLIEGE DE Los Usuarios pueden ser administradores #}
          <h4 class="text-center btn-danger">Los usuarios no pueden administrar más de una parroquia</h4>
          <br>
          <div class="form-group">
          {{form.administrador.label_tag}}
          <!-- validar si ya tiene un administrador lo mostramos y si no puede elegir de la lista -->
          {% if ver_parroquia.administrador %}
            <select name="administrador" class="form-control" id="exampleFormControlSelect1">
              <option selected value="{{ver_parroquia.administrador.id}}">{{ver_parroquia.administrador.first_name}} con correo {{ver_parroquia.administrador.email}}</option>
              {% for usuario in mostrar_usuarios %}
                {% if usuario.email %}
                  <option value="{{usuario.id}}">{{usuario.first_name}} con correo {{usuario.email}}</option>
                {% endif %}
              {% endfor %}
            </select>
          {% else %}
          <select name="administrador" class="form-control" id="exampleFormControlSelect1">
            {% for usuario in mostrar_usuarios %}
              {% if forloop.first %}
                <option selected>------</option>
              {% endif %}
              {% if usuario.email %}
                <option value="{{usuario.id}}">{{usuario.first_name}} con correo {{usuario.email}}</option>
              {% endif %}
            {% endfor %}
          </select>
          {% endif %}
          {{ form.administrador.errors }}
          </div>
          <div class="modal-footer">
            <a href="{% url 'empresa:listado_empresa' %}" class="btn btn-danger" >Cancelar</a>
            <button class="btn btn-primary" type="submit">Registrar</button>
          </div>
      </form>
    </div>
</div>
{% endblock body %}
