{% extends 'superadministracion/superadmin.html' %}
{% block titulo %}
Biblioteca.dev | Listado de tipos de atractivo
{% endblock titulo %}
{% block body %}
{% if object_list %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-12">
                <h2 class="card-title text-center">Lista de Tipos de atractivos Naturales</h2>
                <br>
            </div>
            <div class="col-md-6">
                <a href="{% url 'superadministracion:crear_tipo_natural' %}" class="btn btn-primary">Registrar Nuevo tipo</a>
            </div>
        </div>
    </div>
    <div class="table-stats  ov-h table-responsive-sm" >
        <table id="tabla_atractivos_culturales" class="table table-hover" >
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
              {% for atractivo in object_list %}
              <tr>
                <td style="width: 25%;">{{atractivo.nombre_tipo_an}}</td>
                <td class="text-justify"style="width: 55%;">{{atractivo.descripcion}}</td>
                <td>
                    <a href="{% url 'superadministracion:editar_tipo_natural' atractivo.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'superadministracion:eliminar_tipo_natural' atractivo.id %}" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<h2>NO EXISTEN REGISTROS </h2>
<div class="card-header">
    <div class="col-md-8">
        <a href="{% url 'superadministracion:crear_tipo_natural' %}" class="btn btn-primary">Registrar nuevo tipo</a>
    </div>
</div>
{% endif %}
{% endblock body %}
