{% extends 'base_admin.html' %}
{% block titulo %}
Biblioteca.dev | Listado de Empresa
{% endblock titulo %}
{% block body %}
{% if object_list %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-12">
                <h2 class="card-title text-center">Lista de Empresa</h2>
                <br>
            </div>
            <div class="col-md-6">
                <a href="{% url 'empresa:registrar_empresa' %}" class="btn btn-primary">Registrar Empresa</a>
            </div>
        </div>
    </div>
    <div class="table-stats ov-h table-responsive-sm" >
        <table id="tabla_transportes" class="table table-hover" >
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">direccion</th>
                    <th scope="col">Latitud</th>
                    <th scope="col">Longitud</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
              {% for empresa in object_list %}
              <tr>
                <td style="width: 15%;">{{empresa.nombre}}</td>
                <td style="width: 17%;">{{empresa.direccion}}</td>
                <td>{{empresa.latitud}}</td>
                <td>{{empresa.longitud}}</td>
                <td>
                    {% if empresa.imagen %}
                      <img src="{{empresa.imagen.url}}" alt="img">
                    {% endif %}
                </td>
                <td style="width: 15%;">{{empresa.tipo_id}}</td>
                <td>
                    <a href="{% url 'empresa:editar_empresa' empresa.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'empresa:eliminar_empresa' empresa.id %}" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<h2>NO EXISTEN EMPRESAS REGISTRADAS </h2>
<div class="card-header">
    <div class="col-md-8">
      <a href="{% url 'empresa:registrar_empresa' %}" class="btn btn-primary">Registrar Empresa</a>
    </div>
</div>
{% endif %}
{% endblock body %}
