{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/style_interfaz/style_cards.css'%}">
{% endblock %}

{% block content %}
  {% if mostrar_atractivos %}
  <div class="col-md-12">
    <h1 class="text-center" >Atractivos Culturales</h1>
  </div>
  <div class="col">
      {% for atractivo_cultural in mostrar_atractivos %}
      <div class="card-subtarjetas mb-4" style="max-width: 100%;">
        <div class="row no-gutters ">
          <div class="col-md-5 ">
            <div class="card-body ">
            {% if atractivo_cultural.imagen %}
              <img src="{{atractivo_cultural.imagen.url}}" class="card-img" alt="img">
             {% else %}
             <h3 class="fas fa-map-marked-alt"></h3>
             {% endif %}
            </div>
          </div>
          <div class="col-md-7" >
            <div class="card-body">
              <h5 class="text-wrap">Nombre: </h5>
                <p class="text-justify">{{atractivo_cultural.nombre}}</p>
              <h5 class="text-wrap">Descripción: </h5>
                <p class="text-justify">{{atractivo_cultural.descripcion}}</p>
                {% if atractivo_cultural.fecha %}
                  <h5 class="text-wrap">Fecha: </h5>
                  <p class="text-justify">{{atractivo_cultural.fecha}}</p>
                {% endif %}
              <h5 class="text-wrap">Dirección: </h5>
                <p class="text-justify">{{atractivo_cultural.direccion}}</p>
              <a href="{% url 'turista:ver_ubicacion2' atractivo_cultural.id %}" class="btn btn-primary">Ver ubicación</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
  {% else %}
  <h1>NO EXISTEN DATOS</h1>
  {% endif %}
{% endblock %}
