{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/style_interfaz/style_cards.css'%}">
{% endblock %}

{% block content %}
  {% if mostrar_empresas %}
  <div class="col-md-12">
    <h1 class="text-center" >Empresas de la parroquia {{parroquia}} </h1>
  </div>
  <div class="col">
      {% for empresa in mostrar_empresas %}
      <div class="card-subtarjetas mb-3" style="max-width: 100%;">
        <div class="row no-gutters py-4">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <br>
            {% if empresa.imagen %}
              <img src="{{empresa.imagen.url}}" class="card-img" alt="img">
             {% else %}
             <h3 class="fas fa-map-marked-alt"></h3>
             {% endif %}
          </div>
          <div class="col-md-6" >
            <div class="card-body">
              <h5 class="text-wrap">Nombre: </h5>
                <p class="text-justify">{{empresa.nombre}}</p>
              <h5 class="text-wrap">Descripción: </h5>
                <p class="text-justify">{{empresa.descripcion}}</p>
              <h5 class="text-wrap">Dirección: </h5>
                <p class="text-justify">{{empresa.direccion}}</p>
              <a href="{% url 'turista:productos' empresa.id %}" class="btn btn-primary">Ver productos</a>
              <a href="{% url 'turista:ubicacion_empresa' empresa.id %}" class="btn btn-primary">Ver ubicación</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
  {% else %}
  <h1>NO EXISTEN DATOS</h1>
  {% endif %}
{% endblock %}
