{% extends 'base.html' %}
{% load static %}

{% block navbar %}
  {% include 'navbar_index.html' %}
{% endblock %}
<!-- estilos -->
{% block head %}
  <link rel="stylesheet" href="{% static 'css/style_mapa.css'%}">
{% endblock %}

{% block content %}
<div class="col">
  <h1 class="text-center">Mapa Turístico</h1>
  <div class="container_fomento">
    <div class="card_fomento">
          <div id="map"></div>
          <div id="info"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
  {# aqui va la clave de mapa #}
  
  <script>
    "use strict";
    google.maps.event.addDomListener(window, "load", function () {
      //crear diccionario con lo que me manda la vista
      var atractivos_turisticos = [
        {% for atractivo in atractivos_naturales %}
            {
              nombre: "{{ atractivo.nombre}}",
              lat: parseFloat("{{atractivo.latitud}}"),
              lng: parseFloat("{{atractivo.longitud}}")
            },
        {% endfor %}
        {% for atractivo in atractivos_culturales %}
            {
              nombre: "{{ atractivo.nombre}}",
              lat: parseFloat("{{atractivo.latitud}}"),
              lng: parseFloat("{{atractivo.longitud}}")
            },
        {% endfor %}
      ];
    //para limpiar el objeto Marker
    var InfoObj = [];
    //posicion para centrar el mapa
      var toacazo ={
        lat: -0.7571307,
        lng: -78.6876387
      };
    //opciones que tendra el mapa zoom y corrdenadas para centrarse
      var mapOptions = {
        zoom: 11,
        center: toacazo
      };
    //capturar elemento html donde se mostrara el mapa
      var mapa_element = document.getElementById('map');
    //mostrar el mapa
      var map = new google.maps.Map(mapa_element, mapOptions);
    //marcadores
      for(var i in atractivos_turisticos){
        var texto = '<h5>'+atractivos_turisticos[i].nombre+'</h5>';
        const marker = new google.maps.Marker({
            position: atractivos_turisticos[i],
            map: map,
            title: atractivos_turisticos[i].nombre,
        });
        const infoWindow = new google.maps.InfoWindow({
          content:texto,
        });
        marker.addListener('click',function(){
          closeOtherInfo();
          infoWindow.open(map,marker);
          InfoObj[0]=infowindow;
        });
      }
      // borrar la ventana del marcador anterior
      function closeOtherInfo(){
        if(InfoObj.length >0){
          InfoObj[0].set("marker",null);
          InfoObj[0].close();
          InfoObj[0].length = 0;
        }
      }

    });
  </script>
{% endblock %}
