{#******************Bryan Sandoval implementacion de mapas de gogle*#}

{% extends 'base.html' %}
{% load static %}

{% block head %}
<!-- navbar parorquia -->
  <link rel="stylesheet" href="{% static 'css/style_interfaz/style_turismo.css'%}">
<!-- estilos -->
  <link rel="stylesheet" href="{% static 'css/style_mapa.css'%}">
{% endblock %}

{% block content %}
  <div class="col">
    <h4 class="text-center">{{ message }}</h4>
    {% if mostrar_ubicacion %}
      <h1 class="font text-center ">La ubicación de <span id="nombre">{{mostrar_ubicacion.nombre}}</span></h1>
    <div class="card-body text-center">
        <h5 class="text-wrap">Latitud: <span id="latitud">{{mostrar_ubicacion.latitud}}</span></h5>
        <h5 class="text-wrap">Longitud: <span id="longitud">{{mostrar_ubicacion.longitud}}</span></h5>
    </div>
    {%endif%}
    <div class="container_fomento">
      <div class="card_fomento">
            <div id="map"></div>
            <div id="info"></div>
      </div>
    </div>

  </div>
{% endblock %}

{% block javascript %}
    {# aqui va la clave de mapa #}
    <script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABqPMdDFaxEq7G1UmwzKWFDnC_tvtASyc&libraries=places"></script>
    <script>
      "use strict";
      var nombre= document.getElementById('nombre').textContent;
      var latitud= parseFloat(document.getElementById('latitud').textContent);
      var longitud= parseFloat(document.getElementById('longitud').textContent);
      console.log(nombre);
      console.log(latitud);
      console.log(longitud);
      google.maps.event.addDomListener(window, "load", function () {
        var myLatLng = {
          lat: latitud,
          lng: longitud
        };
        var mapOptions = {
          zoom: 15,
          center: myLatLng
        };
        var mapa_element = document.getElementById('map');
        var map = new google.maps.Map(mapa_element, mapOptions);

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          animation: google.maps.Animation.Drop,
          title: nombre,
        });
      });

    </script>
{% endblock javascript %}

{#******************************************************************#}
